<%= form_with(model: @picture, local: true ,url: choose_new_or_edit ) do |form| %>
<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>

      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <%= msg.html_safe %>
        </div>
      <% end %>

<div class="picture_content">
  <%= form.label :content ,for: 'formGroupExampleInput' %>
  <%= form.text_field :content ,class: 'form-control' %>
</div>
<div class="field">
  <%= form.label :image %>
  <!-- 確認画面から新規作成画面に戻った時に、 -->
  <!-- アップロードした画像を表示させるための記述 -->
  <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
</div>
<br>

  <% if @picture.new_record? %>
  <%= form.submit "新規作成" ,class: 'btn btn-primary mb-2' %>
  <% else %>
  <%= form.submit "更新" ,class: 'btn btn-primary mb-2' %>
  <% end %>

<% end %>
<br>
<%= link_to '一覧画面にもどる', pictures_path , class: 'btn btn-default'%>
