
<% @pictures.each do |picture| %>
<div class="panel panel-default">
<div class="panel-thumbnail">
  <%= image_tag picture.image.url , class: 'img-responsive' %>
</div>


   <div class="panel-body">
     <p class="lead"><%= picture.user.name %></p>
     <p><%= picture.title %></p>
     <p><%= picture.content %></p>
     <p><%= picture.updated_at %></p>
     <p><%= link_to '詳細を確認する', picture_path(picture.id), class: 'btn btn-default'%></p>
     <p><%= link_to "ブログを編集する", edit_picture_path(picture.id), class: 'btn btn-default' %></p>
     <p><%= link_to 'ブログを削除する', picture_path(picture.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default' %></p>
   </div>
   </div>
 <div class="clearfix"></div>
<% end %>
